{% extends 'base.html' %}

{% block content %}
<div class="mt-6">
    <div class="container">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="Interface" >{{ form.Interface.label }}</label>
                {% if form.Interface.errors %}
                    {{ form.Interface(class="form-control form-control-md is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Interface.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.Interface(class="form-control form-control-md") }}
                {% endif %}
            </div>
                {{ form.submit(class="btn btn-outline-primary") }}
        </form>

        {% if data %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Interface</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Subnet</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                    {% for interface in data %}
                    <tr>
                        {% for fields,value in interface.items() %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>    
                    {% endfor %}               
                </tbody>
            </table>       
    {% endif %}
    
    </div>
</div>
{% endblock %}